<!DOCTYPE html>
{% load staticfiles %}
<html>

<head>
    <meta charset="utf-8">`
    <title>Chalbo India Pvt. Ltd.</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{% static '/admin/css/style.css' %}">
</head>

<body>
    <h1>Chalbo India Private Limited</h1>
    <div class="myForm">
        <button class="btn" style=" font-size: 30px; font-family:Palatino Linotype; font-weight: 600"><i class="fa fa-taxi" style="font-size: 40px;text-shadow: 2px 2px 4px #100; color:cornflowerblue"></i><a class="cabpage" href="cars" style="color: black;">Cars</a></button>
        <button class="btn" style=" font-size: 30px; font-family: Palatino Linotyp; font-weight: 600"><i class="fa fa-user" style="font-size: 40px;text-shadow: 2px 2px 4px #100; color:cornflowerblue"></i><a class="driverpage" href="drivers" style="color: black;">Driver</a></button>
        <button class="btn" style=" font-size: 30px; font-family: Palatino Linotyp; font-weight: 600;"><i class="fa fa-pencil" style="font-size: 40px;text-shadow: 2px 2px 4px #100; color:cornflowerblue;"></i> <a class="navbar-brand" href="http://chithhibaaz.blogspot.com/?m=1" style="text-decoration: none; color: black">Blog</a></button>
    </div>


</body>

</html>
