<!DOCTYPE html>
{% load staticfiles %}
<html>

<head>
    <meta charset="utf-8">
    <title>Rate List</title>
    <link rel="stylesheet" href="{% static 'admin/css/style.css' %}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="shortcut icon" href="https://www39.online-convert.com/dl/web1/download-file/d8f14b8d-4f10-49dd-a9e6-48c6df31d91e/WhatsApp%20Image%202018-07-26%20at%207.48.46%20AM.ico">



</head>


<body>
    <h1>Rate List</h1>

    <table id="t01">
        <caption>SUV Price List</caption>
  <tr>
    <th>SR. NO.</th>
    <th>CAR</th>
    <th>SEATER</th>
    <th>BASE PRICE</th>
    <th>4 HOURS</th>
    <th>8 HOURS</th>
    <th>12 HOURS</th>
    <th>OUTSTATION</th>
      <th>EXTRA</th>
  </tr>
  <tr>
    <td>1</td>
    <td>CREATA</td>
    <td>5</td>
      <td>950</td>
      <td>600</td>
      <td>1000</td>
      <td>2300</td>
      <td>9.5</td>
      <td>75-1000</td>
  </tr>
  <tr>
    <td>2</td>
    <td>SCORPIO</td>
    <td>7</td>
      <td>1150</td>
      <td>750</td>
      <td>1200</td>
      <td>3000</td>
      <td>11.5</td>
      <td>75-1000</td>
  </tr>
        <tr>

        <td>3</td>
    <td>BREZZARA</td>
    <td>5</td>
      <td>700</td>
      <td>500</td>
      <td>900</td>
      <td>2200</td>
      <td>8.5</td>
            <td>75-1000</td>
        </tr>
        <tr>
        <td>4</td>
    <td>XUV500</td>
    <td>7</td>
      <td>1200</td>
      <td>800</td>
      <td>1300</td>
      <td>3300</td>
      <td>12</td>
            <td>75-100</td>
        </tr>
        <tr>
        <td>5</td>
    <td>NEXTON</td>
    <td>5</td>
      <td>700</td>
      <td>500</td>
      <td>900</td>
      <td>2200</td>
      <td>8.5</td>
            <td>75-1000</td>
        </tr>
        <tr>
        <td>6</td>
    <td>FORTUNER</td>
    <td>5</td>
      <td>1400</td>
      <td>1000</td>
      <td>1500</td>
      <td>3300</td>
      <td>14</td>
        </tr>
        <tr>
        <td>7</td>
    <td>BOLERO</td>
    <td>5</td>
      <td>1100</td>
      <td>650</td>
      <td>1150</td>
      <td>2900</td>
      <td>11</td>
        </tr>
        <tr>
        <td>8</td>
    <td>COMPASS</td>
    <td>5</td>
      <td>1200</td>
      <td>750</td>
      <td>950</td>
      <td>2300</td>
      <td>9</td>
        </tr>
        <tr>
        <td>9</td>
    <td>ECOSPORT</td>
    <td>5</td>
      <td>700</td>
      <td>500</td>
      <td>900</td>
      <td>2200</td>
      <td>8.5</td>
        </tr>
        <tr>
        <td>10</td>
    <td>INNOVA</td>
    <td>8</td>
      <td>1400</td>
      <td>1000</td>
      <td>1500</td>
      <td>3300</td>
      <td>14</td>
        </tr>
        <tr>

        <td>11</td>
    <td>S-CROSS</td>
    <td>5</td>
      <td>1000</td>
      <td>750</td>
      <td>950</td>
      <td>2300</td>
      <td>9</td></tr>
        <tr>

         <td>12</td>
    <td>KUV100</td>
    <td>5</td>
      <td>700</td>
      <td>550</td>
      <td>800</td>
      <td>2200</td>
            <td>8.5</td></tr>

        <tr>
          <td>13</td>
    <td>DUSTER</td>
    <td>5</td>
      <td>900</td>
      <td>700</td>
      <td>950</td>
      <td>2400</td>
            <td>9.5</td>
        </tr>
        <tr>
        <td>14</td>
    <td>WRV</td>
    <td>5</td>
      <td>600</td>
      <td>550</td>
      <td>700</td>
      <td>2200</td>
            <td>8.5</td>
        </tr>
        <tr>
        <td>15</td>
    <td>HEXA</td>
    <td>5</td>
      <td>1100</td>
      <td>700</td>
      <td>1100</td>
      <td>3300</td>
            <td>13</td>
        </tr>

        <tr>
        <td>16</td>
    <td>TUV300</td>
    <td>5</td>
      <td>1000</td>
      <td>600</td>
      <td>1000</td>
      <td>2900</td>
            <td>12</td>
        </tr>
</table>
    <br>
    <table id="t02">
  <tr>
    <th>SR. NO.</th>
    <th>CAR</th>
    <th>SEATER</th>
    <th>BASE PRICE</th>
    <th>4 HOURS</th>
    <th>8 HOURS</th>
    <th>12 HOURS</th>
    <th>OUTSTATION</th>
  </tr>
        <tr>
        <td>1</td>
    <td>SWIFT</td>
    <td>5</td>
      <td>600</td>
      <td>350</td>
      <td>600</td>
      <td>850</td>
      <td>8.5</td>
        </tr>
        <tr>
        <td>2</td>
    <td>BALENO</td>
    <td>5</td>
      <td>600</td>
      <td>350</td>
      <td>600</td>
      <td>850</td>
      <td>8.5</td>
        </tr>
        <tr>
        <td>3</td>
    <td>ELITE I20</td>
    <td>5</td>
      <td>700</td>
      <td>450</td>
      <td>700</td>
      <td>1000</td>
      <td>8.5</td>
        </tr>
        <tr>
        <td>4</td>
    <td>ALTO 800</td>
    <td>5</td>
      <td>500</td>
      <td>350</td>
      <td>500</td>
      <td>1200</td>
      <td>8.5</td>
        </tr>
        <tr>
        <td>5</td>
    <td>KWID</td>
    <td>5</td>
      <td>600</td>
      <td>500</td>
      <td>700</td>
      <td>2200</td>
      <td>8.5</td>
        </tr>
        <tr>
        <td>6</td>
    <td>GRAND I10</td>
    <td>5</td>
      <td>600</td>
      <td>500</td>
      <td>700</td>
      <td>2200</td>
      <td>8.5</td>
        </tr>
        <tr>
        <td>7</td>
    <td>ALTO K10</td>
    <td>5</td>
      <td>450</td>
      <td>350</td>
      <td>450</td>
      <td>900</td>
      <td>8.5</td>
        </tr>
        <tr>
        <td>8</td>
    <td>TIAGO</td>
    <td>5</td>
      <td>600</td>
      <td>350</td>
      <td>600</td>
      <td>900</td>
      <td>8.5</td>
        </tr>
        <tr>
        <td>9</td>
    <td>WAGON R</td>
    <td>5</td>
      <td>600</td>
      <td>500</td>
      <td>700</td>
      <td>2200</td>
      <td>8.5</td>
        </tr>
        <tr>
        <td>10</td>
    <td>CELERIO</td>
    <td>5</td>
      <td>500</td>
      <td>350</td>
      <td>500</td>
      <td>1000</td>
      <td>8.5</td>
        </tr>
        <tr>
        <td>11</td>
    <td>EON</td>
    <td>5</td>
      <td>700</td>
      <td>450</td>
      <td>700</td>
      <td>1000</td>
      <td>8.5</td>
        </tr>
        <tr>
        <td>12</td>
    <td>WRV</td>
    <td>5</td>
      <td>600</td>
      <td>500</td>
      <td>700</td>
      <td>2200</td>
      <td>8.5</td>
        </tr>
        <tr>
        <td>13</td>
    <td>IGNIS</td>
    <td>5</td>
      <td>650</td>
      <td>450</td>
      <td>650</td>
      <td>950</td>
      <td>8.5</td>
        </tr>
        <tr>
        <td>14</td>
    <td>JAZZ</td>
    <td>5</td>
      <td>650</td>
      <td>450</td>
      <td>650</td>
      <td>950</td>
      <td>8.5</td>
        </tr>
        <tr>
        <td>15</td>
    <td>INDICA</td>
    <td>5</td>
      <td>600</td>
      <td>500</td>
      <td>700</td>
      <td>1000</td>
      <td>8.5</td>
        </tr>



    </table>
    <br>
    <table id="t03">
  <tr>
    <th>SR. NO.</th>
    <th>CAR</th>
    <th>SEATER</th>
    <th>BASE PRICE</th>
    <th>4 HOURS</th>
    <th>8 HOURS</th>
    <th>12 HOURS</th>
    <th>OUTSTATION</th>
        </tr>
        <tr>
        <td>1</td>
    <td>DEZIRE</td>
    <td>5</td>
      <td>500</td>
      <td>450</td>
      <td>1200</td>
      <td>2200</td>
      <td>8.5</td>
        </tr>
        <tr>
        <td>2</td>
    <td>AMAZE</td>
    <td>5</td>
      <td>600</td>
      <td>500</td>
      <td>1350</td>
      <td>2400</td>
      <td>9</td>
        </tr>
        <tr>
        <td>3</td>
    <td>CITY</td>
    <td>5</td>
      <td>800</td>
      <td>700</td>
      <td>1450</td>
      <td>2800</td>
      <td>12</td>
        </tr>
        <tr>
        <td>4</td>
    <td>VERNA</td>
    <td>5</td>
      <td>950</td>
      <td>600</td>
      <td>1000</td>
      <td>2500</td>
      <td>11</td>
        </tr>
    <tr>
        <td>5</td>
    <td>CIAZ</td>
    <td>5</td>
      <td>950</td>
      <td>600</td>
      <td>1000</td>
      <td>2500</td>
      <td>11</td>
        </tr>
        <tr>
        <td>6</td>
    <td>YARIS</td>
    <td>5</td>
      <td>600</td>
      <td>500</td>
      <td>1300</td>
      <td>2400</td>
      <td>9</td>
        </tr>
        <tr>
        <td>7</td>
    <td>TIAGOR</td>
    <td>5</td>
      <td>600</td>
      <td>400</td>
      <td>800</td>
      <td>900</td>
      <td>8.5</td>
        </tr>
    <tr>
        <td>8</td>
    <td>ETIOS</td>
    <td>5</td>
      <td>950</td>
      <td>600</td>
      <td>1000</td>
      <td>2500</td>
      <td>11</td>
        </tr>
        <tr>
        <td>9</td>
    <td>XCENT</td>
    <td>5</td>
      <td>600</td>
      <td>500</td>
      <td>1300</td>
      <td>2100</td>
      <td>9</td>
        </tr>
        <tr>
        <td>10</td>
    <td>INDICO</td>
    <td>5</td>
      <td>600</td>
      <td>550</td>
      <td>1100</td>
      <td>2100</td>
      <td>8.5</td>
        </tr>
        <tr>
        <td>11</td>
    <td>ASPIRE</td>
    <td>5</td>
      <td>700</td>
      <td>550</td>
      <td>1200</td>
      <td>2100</td>
      <td>8.5</td>
        </tr>
        <tr>
        <td>12</td>
    <td>COROLLA</td>
    <td>5</td>
      <td>1000</td>
      <td>750</td>
      <td>1500</td>
      <td>2700</td>
      <td>11</td>
        </tr>
        <tr>
        <td>13</td>
    <td>ZEST</td>
    <td>5</td>
      <td>600</td>
      <td>450</td>
      <td>1200</td>
      <td>2200</td>
      <td>8.5</td>
        </tr>
        <tr>
        <td>14</td>
    <td>ELANATRA</td>
    <td>5</td>
      <td>1000</td>
      <td>750</td>
      <td>1500</td>
      <td>2700</td>
      <td>12</td>
        </tr>
    </table>

</body>

</html>
